Port 22
PermitRootLogin no
PasswordAuthentication yes
PubkeyAuthentication yes
AllowUsers admin vm1server
MaxAuthTries 3
LoginGraceTime 30
X11Forwarding no
Subsystem sftp /usr/lib/openssh/sftp-server
